@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to Store!</h1>
</div>

<tr>
    <td>@Html.ActionLink("Login", "Login")</td>
</tr>

<tr>
    <td>@Html.ActionLink("Register", "Registration")</td>
</tr>

